[workspace.package]
version = "0.3.0"
edition = "2021"
readme = "README.md"
repository = "https://github.com/tandemdrive/ocpi-tariffs"
description = "OCPI tariff calculations"
license = "MIT OR Apache-2.0"

[workspace]
members = ["cli", "ocpi-tariffs"]

[workspace.dependencies]
chrono-tz = { version = "0.8.2", default-features = false }
serde_json = { version = "1.0", default-features = false }
