[package]
name = "ocpi-tariffs-cli"
readme = "README.md"
description = "CLI application for OCPI tariff calculation"
version.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[[bin]]
name = "ocpi-tariffs"
path = "src/main.rs"

[dependencies]
chrono-tz.workspace = true
chrono = { version = "0.4.24", default-features = false, features = ["alloc", "serde"] }
clap = { version = "4.2.4", features = ["derive"] }
console = { version = "0.15.5" }
ocpi-tariffs.workspace = true
serde_json.workspace = true
tabled = { version = "0.11.1", features = ["color"] }
