[package]
name = "ocpi-tariffs-cli"
readme = "README.md"
description = "CLI application for OCPI tariff calculation"
version.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[[bin]]
name = "ocpi-tariffs"
path = "src/main.rs"

[dependencies]
clap.workspace = true
ocpi-tariffs.workspace = true
thiserror.workspace = true
serde_json.workspace = true
tabled.workspace = true
chrono-tz.workspace = true
chrono.workspace = true
console.workspace = true
