[package]
name = "ocpi-tariffs"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/tandemdrive/ocpi-tariffs"

[dependencies]
chrono.workspace = true
chrono-tz.workspace = true
rust_decimal.workspace = true
rust_decimal_macros.workspace = true
serde.workspace = true

[dev-dependencies]
serde_json.workspace = true
